@use "./common";

div.main {
  div.container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    > div {
      gap: 2rem;
      height: auto;
      align-items: start;
    }
  }

  aside {
    display: var(--aside-display);
    width: 20%;
    flex-shrink: 0;

    position: sticky;
    top: 6rem;

    h3 {
      margin: 0;
      @include common.fontStyle(1.125rem, 500, 1.75rem);
      color: var(--header-color);
    }

    nav {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      a {
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        text-decoration: inherit;
        display: flex;
        gap: 0.75rem;
        align-items: center;
        color: var(--text-color);

        &.active {
          background-color: var(--primary-color);
          color: white;
        }
      }
    }
  }

  main {
    flex: 1 1 0%;

    h1 {
      margin: 0;
      margin-bottom: 1.5rem;
      @include common.fontStyle(1.875rem, 600, 2.25rem);
      color: var(--header-color);
    }

    div.tag {
      margin-bottom: 2rem;
      display: flex;
      font-weight: wrap;
      gap: 0.5rem;

      button {
        padding: 0.5rem 1rem;
        border-width: 0px;
        @include common.fontStyle(0.875rem, 500, 1.25rem);
        color: var(--text-color);
        background-color: rgb(from var(--border-color) r g b / 0.5);
        border-radius: 1.5rem;
        cursor: pointer;

        &.selected {
          background-color: var(--primary-color);
          color: white;
        }
      }
    }

    div.books {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(var(--book-min-width), 1fr));
      row-gap: 1.5rem;
      column-gap: 1.5rem;

      > div {
        display: flex;
        flex-direction: column;
        gap: 0rem;

        img {
          border-radius: 0.5rem;
        }

        h4 {
          margin: 0;
          margin-top: 0.5rem;
          @include common.fontStyle(1rem, 600, 1.5rem);
          color: var(--header-color);

          &:hover {
            color: var(--primary-color);
            cursor: pointer;
          }
        }

        Span {
          &:first-of-type {
            @include common.fontStyle(0.875rem, 500, 1.25rem);
            color: var(--gray-color-500);
          }

          &:last-of-type {
            @include common.fontStyle(1rem, 700, 1.5rem);
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
