@use "../common";

div {
  &.content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  &.introduce {
    width: 50%;

    div.card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 4rem;
      padding: 1.5rem 1.25rem 4rem;
      background-color: var(--white-color);
      border-radius: 20px;
      box-shadow: 1px 8px 10px 2px rgba($color: #000, $alpha: 0.1);

      h3 {
        margin-bottom: 1.5rem;
        @include common.fontStyle(1.5rem, 600, 1.25rem);
        color: var(--primary-color);
      }

      > div {
        padding-inline: 1.5rem;
        @include common.fontStyle(1.25rem, 400, 1.5rem);
        color: var(--text-color);
      }
    }
  }
}
