@use "../common";
div {
  &.content {
    display: flex;
    justify-content: center;
  }

  &.form {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 55px 250px auto;
    gap: 10px;
  }

  input,
  textarea {
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 15px 20px;
  }

  textarea {
    grid-column: 1 / 3;
    resize: none;
  }

  button {
    justify-self: center;
    grid-column: 1 / -1;
    @include common.fontStyle(1rem, 500, 1.25rem);
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);

    i {
      margin-left: 10px;
    }
  }
}
