@use "../common";

header {
  border-bottom: solid 1px var(--border-color);
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 50;

  div.container > div {
    justify-content: flex-start;
    gap: 2rem;
  }

  h3 {
    margin: 0px;
    @include common.fontStyle(1.25rem, 700, 1.75rem);
    color: var(--primary-color);
  }

  nav {
    display: var(--nav-display);
    gap: 1.5rem;
  }
}
