section {
  width: 100%;

  div {
    &.container {
      max-width: 90vw;
      margin: 0px auto;

      padding-left: var(--container-padding-left);
      padding-right: var(--container-padding-left);

      > div {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  main.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-left: var(--container-padding-left);
    padding-right: var(--container-padding-left);

    > div {
      outline: solid 1px red;

      &.home {
        height: 100vh;
      }

      &.page {
        min-height: 700px;
      }
    }
  }
}

a {
  color: var(--text-color);
  text-decoration: inherit;

  &:hover {
    color: var(--primary-color);
  }
}
