section {
  width: 100%;

  div {
    &.container {
      max-width: 90vw;
      margin: 0px auto;

      padding-left: var(--container-padding-left);
      padding-right: var(--container-padding-left);

      > div {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  main.wrapper {
    max-width: 90vw;
    margin: 0 auto;
    padding-left: var(--container-padding-left);
    padding-right: var(--container-padding-left);

    > div {
      padding-block: 4rem;

      &.home {
        height: 100vh;
      }

      &.page {
        div {
          &.title {
            margin-top: 1.5rem;
            margin-bottom: 6rem;
            text-align: center;

            h2 {
              margin: 0;
              margin-bottom: 0.5rem;
            }

            strong {
              color: var(--gray-color-500);
            }
          }
        }
      }
    }
  }
}

a {
  color: var(--text-color);
  text-decoration: inherit;

  &:hover {
    color: var(--primary-color);
  }
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
