:root {
  --search-bar-display: flex;
  --book-min-width: 256px;
  --container-padding-left: 2rem;
  --container-padding-right: 2rem;
  --nav-display: flex;
  --home-heading-font-size: 2rem;
  --home-image-width: 300px;
  --about-flex-justify-content: space-between;
  --introduce-width: 50%;
  --introduce-card-margin-left: 4rem;
  --skills-margin-right: 4rem;
  --skills-width: 50%;
  --contact-form-grid-column: repeat(2, 300px);
  --contact-form-grid-rows: 55px 250px auto;

  @media screen and (max-width: 1024px) {
    --home-heading-font-size: 1.5rem;
    --home-image-width: 250px;
    --about-flex-direction: column;
    --about-flex-justify-content: center;
    --about-align-items: center;
    --introduce-width: 65%;
    --introduce-card-margin-left: 0rem;
    --skills-margin-right: 0rem;
    --skills-width: 65%;
    --contact-form-grid-column: repeat(2, 250px);
  }

  @media screen and (max-width: 640px) {
    --container-padding-left: 1.5rem;
    --container-padding-right: 1.5rem;
    --nav-display: none;
  }
}
