:root {
  --search-bar-display: flex;
  --book-min-width: 256px;
  --container-padding-left: 2rem;
  --container-padding-right: 2rem;
  --header-heading-font-size: 1.25rem;
  --nav-display: flex;
  --nav-gap: 1.5rem;
  --home-heading-font-size: 2rem;
  --home-image-width: 300px;
  --home-flex-justify-content: space-between;
  --home-width: 50%;
  --about-flex-justify-content: space-between;
  --introduce-width: 50%;
  --introduce-card-margin-left: 4rem;
  --skills-margin-right: 4rem;
  --skills-width: 50%;
  --contact-form-grid-column: repeat(2, 300px);
  --contact-form-grid-rows: 55px 250px auto;
  --contact-textarea-grid-column: 1 / 3;
  --contact-button-grid-column: 1 / -1;

  @media screen and (max-width: 1024px) {
    --home-heading-font-size: 1.5rem;
    --home-image-width: 250px;
    --about-flex-direction: column;
    --about-flex-justify-content: center;
    --about-align-items: center;
    --introduce-width: 65%;
    --introduce-card-margin-left: 0rem;
    --skills-margin-right: 0rem;
    --skills-width: 65%;
    --contact-form-grid-column: repeat(2, 250px);
  }

  @media screen and (max-width: 640px) {
    --container-padding-left: 1.5rem;
    --container-padding-right: 1.5rem;
    --header-heading-font-size: 1rem;
    --nav-gap: 1rem;
    --home-flex-direction: column-reverse;
    --home-flex-justify-content: center;
    --home-text-align-items: center;
    --home-width: 100%;
    --home-gap: 1.5rem;
    --introduce-width: 90%;
    --skills-width: 90%;
    --contact-margin-bottom: 0px;
    --contact-form-grid-column: 80vw;
    --contact-form-grid-rows: 55px 55px 250px auto;
    --contact-textarea-grid-column: auto;
    --contact-button-grid-column: auto;
  }
}
