section.container {
  margin: 0px auto;
  margin-top: 50px;
  width: 600px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
}

img {
  width: 100px;
  grid-row: 1 / 5;
}

h3,
div.toolbar {
  text-align: center;
  align-items: center;
}

div.column {
  font-size: 20px;
  align-self: center;
}

a,
a:active,
a:hover,
a:focus {
  color: black;
  text-decoration: none;
}
