header {
  text-align: center;
}

.card {
  border: solid 1px#999;
  border-radius: 8px;
  width: 250px;
}

[type="text"] {
  width: 200px;
  height: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  height: 30px;
}

td.id {
  width: 120px;
  text-align: center;
}

td.company {
  width: 150px;
  text-align: center;
}
td.price {
  width: 100px;
  text-align: right;
}
