footer {
  border-top: 1px solid var(--border-color);

  div {
    display: flex;
    gap: 1.5rem;

    > a {
      color: var(--text-color);
      text-decoration: inherit;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  p {
    color: var(--text-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
