header {
  border-bottom: solid 1px #e5e7eb;

  div.container {
    max-width: 90vw;
    height: 4rem;
    margin: 0px auto;

    padding-left: 2rem;
    padding-right: 2rem;
    > div {
      height: 4rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0px;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.75rem;
        color: #137fec;
      }

      > div {
        display: flex;
        align-items: center;

        &.left {
          gap: 2rem;
        }

        &.right {
          gap: 0.5rem;
        }
      }

      nav {
        display: flex;
        gap: 1.5rem;

        a {
          color: #4b5563;
          text-decoration: inherit;

          &:hover {
            color: #137fec;
          }
        }
      }

      div.search {
        display: flex;
        gap: 0;

        input {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          width: 200px;
          padding: 1rem 0.5rem 1rem 1rem;
          border: none;
          background-color: #f3f4f6;

          &:focus {
            outline: none;
          }
        }

        button {
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          padding: 0.5rem;
          border: none;
          background-color: #f3f4f6;
          cursor: pointer;
        }
      }
    }
  }
}
