section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  div {
    &.container {
      min-width: 90rw;
      margin: 0px auto;

      padding-left: 2rem;
      padding-right: 2rem;

      > div {
        width: 100%;
        height: 4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &.main {
      flex-grow: 1;
    }
  }
}

a {
  color: var(--text-color);
  text-decoration: inherit;

  &:hover {
    color: var(--primary-color);
  }
}
